@charset "UTF-8";

body {
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    text-align: left;
    background-color: #eee;
}

.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}

  

a {
    text-decoration: none !important
}

.card-header:not([class*=bg-]):not([class*=alpha-]) {
    background-color: #E1F2F9;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-bottom-width: 0
}

.card-header .card-title {
    margin-bottom: 0
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .1875rem
}

.w-100 {
    width: 100% !important
}

.mt-0-20 {
    margin-top: .20rem !important
}


#font{
	color:black;
}

#style{
	 border: #7BBBD6 solid 3px;
     border-radius: 10px;
}
#black{
	color:black;
}

#check{
	background-color: #E1F2F9;
	color:black;
	 border: #7BBBD6 solid 3px;
     border-radius: 10px;
}
#head{
	font-size: 40px;
    text-align-last: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
#p_title{
	font-size: 25px;
	font-weight:bold;
	
}
#p_text{
	color:black;
	font-size: 25px;

}
#board_t{
	margin-left: 20px;
	margin-bottom:10px;
	font-size: 40px;
	font-weight: bold;
	color:black;
}
#boardicon{
	color:blue;
	margin-left:20px;
	margin-bottom: 10px;
	margin-top:13px;
}

#backBtn{
	width: 130px;
	height: 50px;
	margin-left:10px;
	margin-top: 10px;
	
}
#addBtn{
	width: 130px;
	height: 50px;
	margin-left:380px;
	margin-top: 10px;
}